<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY Document</title>
</head>
<body>
        <h1>This is About page</h1>
        <a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-photo%2Fwide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg%3Fw%3D2000&tbnid=x02ED2e9FSww0M&vet=12ahUKEwiuhay4oaeBAxXhjv0HHYKKBbEQMygAegQIARBO..i&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fnature-trees&docid=uSfvyDpNNn5b3M&w=2000&h=1334&q=image&ved=2ahUKEwiuhay4oaeBAxXhjv0HHYKKBbEQMygAegQIARBO">Natural Image </a>
</body>
</html>